@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/comfortaa-bold.tff') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/comfortaa-regular.tff') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/comfortaa-light.tff') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PC';
  src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
