.header {
  margin-bottom: 10px;
  min-height: 80px;
  position: relative;
  z-index: -11;
}

.header__header {
  font-family: 'Pacifico';
  display: inline-block;
  margin-left: 40px;
}

.header__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header__link {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  margin-right: 25px;
  padding: 15px 0;
}

.header::after {
  content: "";
  position: fixed;
  display: block;
  width: 1000px;
  height: 300px;
  left: -300px;
  top: -200px;
  background: rgba(144, 144, 144, 0.3);
  z-index: -10;
  transform: rotate(-50deg);
  z-index: -100;
}

.header::before {
  content: "";
  position: fixed;
  display: block;
  width: 1000px;
  height: 150px;
  left: -300px;
  top: 225px;
  background: rgba(144, 144, 144, 0.2);
  z-index: -10;
  transform: rotate(-50deg);
  z-index: -100;
}

@media (min-width: 768px) {
  .header::after {
    width: 1800px;
    height: 500px;
    left: -620px;
  }

  .header::before {
    width: 1800px;
    height: 350px;
    left: -359px;
  }

  .header__header {
    font-size: 42px;
    margin-left: 60px;
  }
}

@media (min-width: 1248px) {
  .header__header {
    margin-left: 100px;
  }
}
